html {
    color: black;
    font-size: 1em;
    font-family: Ubuntu;
}

.blog,
.portfolio {
    display: grid;
    justify-items: center;
    align-items: center;
    margin: 0 auto;
    width: 90%;
}

.blog_title,
.portfolio_title {
    text-align: center;
    font-size: 28px;
}

.blog_description,
.portfolio_description {
    font-size: 12px;
    color: #a3a3a3;
    text-align: center;
    font-weight: lighter;
}

.blog_item,
.portfolio_item {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.blog_item_img,
.portfolio_item_img {
    width: 100%;
    display: block;
}

.item_date {
    background-color: #ca6b65;
    width: 50px;
    height: 54px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.item_date .date_day {
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.item_date .date_m-y {
    color: white;
    font-size: 10px;
    font-weight: lighter;
}

.item_text {
    background-color: #19b2de;
    width: 100%;
    height: 54px;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 0;
}

.text_title,
.text_subtitle {
    color: white;
    font-weight: 300;
    margin: 0;
}

.text_title {
    font-size: 18px;
}

.text_subtitle {
    font-size: 11px;
}

.item_icon {
    position: absolute;
    z-index: 3;
    bottom: 10px;
    right: 10px;
}

.item_title-ig {
    color: #DE6262;
    border-bottom: 2px solid #19B2DE;
    width: 100%;
    grid-row: 1 / 2;
}

.hero {
    position: relative;
    width: 95%;
    margin: 0 auto;
    overflow: hidden;
}

.hero_text {
    text-align: left;
    background-color: white;
    height: auto;
    display: block;
    padding: 0.5em;
}

.hero_text-top {
    border-left: 10px solid #186AA2;
    width: 140px;
    font-weight: 500;
}

.hero_text-mid {
    border-left: 10px solid #DE6262;
    width: 210px;
    font-weight: 500;
}

.hero_text-btm {
    border-left: 10px solid #FFB901;
    width: 300px;
    font-weight: 500;
}


.page_footer {
    display: grid;
    grid-template-rows: 1fr 4fr;
}

.footer_intro {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
}

.ig_item_img {
    width: 63px;
    height: 63px;
}

.intro_img {
    width: 140px;
    height: 120px;
}

.track-img {
    width: 32px;
    height: 32px;
}

.form_button {
    width: 32px;
    height: 25px;
}

.button-img {
    width: 100%;
    height: 100%;
}

/*VYYYYYYYYYYYYYYYYYYYYYYYYYYYYY*/

/* Heading */

.intro_text {
    font-size: 28px;
    margin-bottom: 10px;
    margin-top: 50px;
    color: #525151;
    font-weight: 400;
    text-align: center;
}

.intro_text span {
    color: #3da9fc;
}

/*services*/
.services {
    display: grid;
    gap: 10px;
    margin-top: 30px;
    justify-items: center;
    align-items: center;
    margin: 0 auto;
    width: 88%;
}


.item_img-container {
    width: 10px;
    height: 10px;

}


.services_title {
    font-size: 28px;
    color: #525151;
    text-align: center;
    font-weight: 400;
    margin-bottom: 0px;

}

.services_description {
    margin-bottom: 20px;
    font-size: smaller;
    color: #939393;
    text-align: center;
    font-weight: lighter;
}


.item_title {
    font-size: 16px;
    color: #525151;

}

.item_description {
    font-size: 14px;
    font-weight: lighter;
    color: #939393;
}

.item_img-solution {
    border: 3px solid #f9c74f;
    padding: 10px;

}

.item_img-photo {
    border: 3px solid #43aa8b;
    padding: 10px;
}

.item_img-app {
    border: 3px solid #f94144;
    padding: 10px;
}

.item_img-ux {
    border: 3px solid #3d92dc;
    padding: 10px;
}

/*Footer News*/
.footer_item-mews {
    padding: 20px;
    max-width: 600px;
}

.item_title-news {
    color: #19B2DE;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    padding-bottom: 5px;
    display: inline-block;

    border-bottom: 2px solid #FFB901;
    width: 100%;
    grid-row: 1 / 2;
}

.description_users {
    color: #3da9fc;
    font-weight: bold;
}

/*footer Track*/
.footer_item-track {
    padding: 20px;
    text-align: left;
}

.item_title-track {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 2px solid #19B2DE;
    color: rgb(192, 188, 188);

    display: inline-block;
    width: 100%;
    grid-row: 1 / 2;
}



/* Social icons layout */
.item_link-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    margin: 15px 0;
    justify-content: center;
}

.track-img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Email box */
.item_form {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 0;
    border-radius: 5px;
    overflow: hidden;
}

.form_box {
    padding: 20px;
    font-size: 16px;
    border: none;
    background-color: #DE6262;
    color: white;
    width: 100%;
}

.form_box::placeholder {
    color: #f5f5f5;
}

.form_button {
    background-color: #FFB901;
    border: none;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.button-img {
    width: 25px;
    height: 25px;
}

@media screen and (max-width: 39.9375em) {

    .services_items {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }

    .services_item-solution {
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-row: 1 / 2;
        column-gap: 0px;

    }

    .services_item-photo {
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-row: 2 / 3;
        column-gap: 0px;
    }

    .services_item-app {
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-row: 3 / 4;
        column-gap: 0px;
    }

    .services_item-ux {
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-row: 4 / 5;
        column-gap: 0px;
    }

    .item_img-container-solution {
        margin: auto;
    }

    .item_img-container-photo {
        margin: auto;
    }

    .item_img-container-app {
        margin: auto;
    }

    .item_img-container-ux {
        margin: auto;
    }

    .services_item-solution .services_item-text {
        grid-column: 2/3;
    }

    .item_title {
        text-align: left;
        margin-bottom: 0px;
    }

    .services_items p {
        text-align: justify;
        margin-top: 0px;
    }



    .blog,
    .portfolio {
        grid-template-columns: 1fr;
    }

    .blog_item,
    .portfolio_item {
        width: 100%;
        margin: 20px 0;
    }

    .footer_item-ig,
    .hero,
    .footer_item-about,
    .clients {
        display: none;
    }

    .footer_items {
        grid-column: 1 / -1;
        grid-row: 2 / 3;
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 1fr 2fr;
    }

    .footer_item-track {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }

    .footer_item-mews {
        grid-column: 1 / -1;
        grid-row: 2 / 3;
    }

}

@media screen and (min-width: 40em) and (max-width: 63.9375em) {

    .services_items {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        column-gap: 30px;
    }

    .services_item-solution {
        display: grid;
        grid-template-rows: 1fr 2fr;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    .services_item-photo {
        display: grid;
        grid-template-rows: 1fr 2fr;
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }

    .services_item-app {
        display: grid;
        grid-template-rows: 1fr 2fr;
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    .services_item-ux {
        display: grid;
        grid-template-rows: 1fr 2fr;
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }

    .item_img-container-solution {
        grid-row: 1/2;
        margin: auto;
    }

    .item_img-container-photo {
        grid-row: 1/2;
        margin: auto;
    }

    .item_img-container-app {
        grid-row: 1/2;
        margin: auto;
    }

    .item_img-container-ux {
        grid-row: 1/2;
        margin: auto;
    }

    .services_item-solution .services_item-text {
        grid-row: 2/3;
    }

    .item_title {
        text-align: center;
    }

    .services_items p {
        text-align: justify;
    }

    .blog,
    .portfolio {
        grid-template-rows: 100px 3fr;
        row-gap: 1em;
    }

    .blog_items {
        grid-row: 2 / 3;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2fr 1fr;
        column-gap: 1em;
        row-gap: 1em;
    }

    .blog_item-tablet-rowspan {
        grid-column: 1 / -1;
    }

    .portfolio_items {
        grid-row: 2 / 3;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 1em;
        row-gap: 1em;
    }

    .footer_item-ig {
        display: grid;
        grid-template-rows: 80px 100px;
    }

    .ig_items {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 0.5em;
        width: 100%;
    }

    .hero_background-img {
        width: 100%;
        max-width: 980px;
        min-width: 800px;
    }

    .hero_text-container {
        position: absolute;
        top: 30%;
    }

    .hero_text-top,
    .hero_text-mid,
    .hero_text-btm {
        font-size: 18px;
    }

    .hero_text-top {
        width: 110px;
    }

    .hero_text-mid {
        width: 160px;
    }

    .hero_text-btm {
        width: 220px;
    }

    .footer_items {
        grid-column: 1 / -1;
        grid-row: 2 / 3;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .footer_item-about {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }

    .footer_item-ig {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }

    .footer_item-mews {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    .footer_item-track {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
    }

}

@media screen and (min-width: 64em) {
    .services_items {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        column-gap: 30px;
    }

    .services_item-solution {
        display: grid;
        grid-template-rows: 1fr 2fr;
        grid-column: 1 / 2;
    }

    .services_item-photo {
        display: grid;
        grid-template-rows: 1fr 2fr;
        grid-column: 2 / 3;
    }

    .services_item-app {
        display: grid;
        grid-template-rows: 1fr 2fr;
        grid-column: 3 / 4;
    }

    .services_item-ux {
        display: grid;
        grid-template-rows: 1fr 2fr;
        grid-column: 4 / 5;
    }

    .item_img-container-solution {
        grid-row: 1/2;
        margin: auto;
    }

    .item_img-container-photo {
        grid-row: 1/2;
        margin: auto;
    }

    .item_img-container-app {
        grid-row: 1/2;
        margin: auto;
    }

    .item_img-container-ux {
        grid-row: 1/2;
        margin: auto;
    }

    .services_item-solution .services_item-text {
        grid-row: 2/3;
    }

    .item_title {
        text-align: center;
    }

    .services_items p {
        text-align: justify;
    }

    .blog,
    .portfolio {
        grid-template-rows: 100px 2fr;
        row-gap: 1em;
    }

    .blog_items {
        grid-row: 2 / 3;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 1.5em;
    }

    .portfolio_items {
        grid-row: 2 / 3;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr 1fr;
        column-gap: 1.5em;
        row-gap: 1.5em;
    }

    .footer_item-ig {
        display: grid;
        grid-template-rows: 80px 1fr;
    }

    .ig_items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 0.5em;
        width: 100%;
    }


    .hero_background-img {
        width: 100%;
        max-width: 1466px;
        min-width: 1100px;
    }

    .hero_text-container {
        position: absolute;
        top: 40%;
    }

    .footer_items {
        grid-column: 1 / -1;
        grid-row: 2 / 3;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 100px;
    }

    .footer_item-about {
        grid-column: 1 / 2;
    }

    .footer_item-ig {
        grid-column: 2 / 3;
    }

    .footer_item-mews {
        grid-column: 3 / 4;
    }

    .footer_item-track {
        grid-column: 4 / 5;
    }
}